

body{
	min-height: 100vh;
}


header{
	font-family: 'Inconsolata', monospace;
	font-weight: bold;
	font-size: 24px;
line-height: 25px;
letter-spacing: -0.08em;
text-transform: uppercase;

color: #333333;
}

.container{
	margin-top:150px;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	align-content: center;
}

h1{
font-family: 'Space Mono', monospace ;
font-weight: bold;
font-size: 64px;
line-height: 95px;
letter-spacing: -0.035em;


color: #333333;
}

p{
	font-family: 'Space Mono';
	font-weight: normal;
	font-size: 24px;
	line-height: 36px;
	letter-spacing: -.035em;
}

button{
	width: 216px;
	height: 68px;
	background: #333333;
	cursor: pointer;
}

span{
	font-family: 'Space Mono';
	font-weight: normal;
	color: white;
	text-transform: uppercase;
	font-size: 16px;
	
}

footer{
	display: flex;
	justify-content: center;
	margin-top: 300px;
}

@media screen and ( min-width: 360px) {

h1{
	font-size: 48px;
	line-height: 71px;
}
p{
	font-size: 18px;
	line-height: 27px;
}
.image{
	height: 220px;
	width: 286px;

}
}